$medium-screen: 992px !default;
$small-screen: 321px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$color-link:#999;
$color-link-active:#FFF;
$color-link-content:#091D99;
html {
  height: 100%;
}
body {
  line-height: 1;
  color:#000;
  background-color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: calc(100% - 2em);
  font-size:1em;
}
h1{
  font-weight:bold;
  padding:2em 2em 2em 1em;
  text-align: left;
}
p{
  text-align:left;
  padding:0 1em 1em 1em;
}
a, a:active, a:hover, a:visited, a:link{
  text-decoration: underline;  
  color:$color-link-content;
}
ol, ul {
  padding:0 0 0 2em;
  li{
    text-align: left;
  }
}
a.switch{
  position: absolute;
  z-index: 10;
  top:2em;
  left:1em;
  display:block;
  color:$color-link-active;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  &.hidden{
    display:none;
  }
  @media #{$medium-and-down} {
    left:calc(50% - 1.5em);
    font-size: 1.5em;
  }
  @media #{$small-and-down} {
    top:1.5em;
  }
  &.close{
    color:$color-link;
  }
}
div.container{
  position: relative; 
  div.navigation{
    position:absolute;
    z-index: 99;
    top:1em;
    left:1em;
    height: 270px;
    overflow: auto;
    width: 13em;  
    background-color: #000;   
    margin: 1em 0 0 0;
    @media #{$medium-and-down} {
      position:relative;
      top:auto;
      left:auto;      
      padding: 1em;
      margin: 5em auto 0 5em;
      width: calc(100% - 12em);
      height: 170px;
    }
    &.hidden{
      display:none;
    }      
    ul{
      list-style-type: none;
      margin:0;
      padding:0;      
      li{
        display: block;
        float:left;
        width:100%;
        text-align: left;
        @media #{$medium-and-down} {
          text-align: center;
        }
        a{
          color:$color-link;
          @media #{$medium-and-down} {
            font-size:1.3em;
          }
          @media #{$small-and-down} {
            font-size:1em;
          }
          &.active{
            color:$color-link-active;
          }
        }
      }
    }
  }
  div.main{
    width:100%;
    height:auto;
    position:relative;
     div#content, div.pagination{
      position:relative;
      text-align: center;  
      width: calc(100% - 20em);
      margin: 2em 0 auto 15em;      
      @media #{$medium-and-down} {
        width: calc(100% - 10em);
        margin: 2em 0 auto 5em;
      }
    }
    div#content{
      &.whitoutNav{
        width: calc(100% - 5em);
        margin: 2em 0 auto 2.5em;
      }      
      @media #{$medium-and-down} {
        margin: 6em 0 auto 5em;
        &.small{
          margin: 0em 0 auto 5em;
          @media #{$small-and-down} {
            margin: 0em 0 auto 2.5em;
          }
        }
      }
      @media #{$small-and-down} {
        width: calc(100% - 5em);
        margin: 6em 0 auto 2.5em;
      }

    }   
    div.rect{
      position:relative;  
      width:100%;
      height:100%;
      min-height: 300px;
      background-color: grey;
      margin: 0 auto;
      &:nth-child(1n){
        background-color: #CC8;
      }
      &:nth-child(2n){
        background-color: #C99;
      }     
      &.hidden{
        display:none;
      }
      img{
        width: calc(100% - 2em);
        padding: 1em;
      }
    }
    div.pagination, div.footer{
    margin: 1em 0 1em 15em;
      @media #{$medium-and-down} {
        margin: 1em 0 1em 5em;
      }
      @media #{$small-and-down} {
        width: calc(100% - 5em);
        margin: 1em 0 1em 2.5em;
      }
    }
    div.pagination{
      height:2.5em;
      &.whitoutNav{
        margin: 1em 0 1em 2.5em;
        width: calc(100% - 5em);
      }        
      ul{
        padding:0;
        li{
          &:first-child{
            float: left;
          }
          &:last-child{
            float: right;
          }
          a{
            display: inline-block;
            color:$color-link-active;
            text-transform:uppercase;
            text-decoration: underline;
            @media #{$medium-and-down} {
            }
            &.hidden{
              display:none;
            }
          }
        }
      }
    }
    div.footer{
      position:relative;
      color:$color-link-active;
      &.whitoutNav{
        margin: 1em 0 1em 2.5em;
      }
      a{
        font-style: italic;
        color:$color-link-active;
      }
    }
  }
}
