$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
body {
  line-height: 1;
  color:#000;
  background-color: #000;
}
h1{
  font-weight:bold;
  padding:2em;
}
a.switch{
  position: absolute;
  z-index: 10;
  top:2em;
  left:1em;
  display:block;
  color:#FFF;
}
div.container{
  position: relative; 
  div.navigation{
    position:absolute;
    z-index: 99;
    top:1em;
    left:1em;
    height: 270px;
    overflow: auto;
    width: 13em;  
    background-color: #000;   
    @media #{$medium-and-down} {
      position:relative;
      top:auto;
      left:auto;      
      padding: 1em;
      margin: 1em auto 0 5em;
      width: calc(100% - 12em);
      height: 170px;
    }
    &.hidden{
      display:none;
    }      
    ul{
      list-style-type: none;
      margin:0;
      padding:0;      
      li{
        display: block;
        float:left;
        width:100%;
        text-align: left;
        @media #{$medium-and-down} {
          text-align: center;
        }
        a{
          color:#666;
          &.active{
            color:#FFF;
          }
        }
      }
    }
  }
  div.main{
    width:100%;
    height:auto;
    position:relative;
     div#content, div.pagination{
      position:relative;
      text-align: center;  
      width: calc(100% - 20em);
      margin: 5em 0 auto 15em;
      @media #{$medium-and-down} {
        width: calc(100% - 10em);
        margin: 1em 0 auto 5em;
      }
    }
   
    div.rect{
      position:relative;  
      width:100%;
      height:100%;
      min-height: 300px;
      background-color: grey;
      margin: 0 auto;
      &:nth-child(1n){
        background-color: #CC8;
      }
      &:nth-child(2n){
        background-color: #899;
      }     
      &.hidden{
        display:none;
      }
    }
    div.pagination{
      ul{
        li{
          &:first-child{
            float: left;
          }
          &:last-child{
            float: right;
          }
          a{
            display: inline-block;
            color:#FFF;
            cursor: pointer;
            &.hidden{
              display:none;
            }
          }
        }
      }
    }
  }
}